@model PaginatedList<Slider>
@{
    int pageshow = 4;
    int order = 0;
}



<div class="row justify-content-center">

    <div class="col-md-8">
        <h1>Tags</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Header</th>
                    <th scope="col">HeaderThenbr</th>
                    <th scope="col">Price</th>
                    <th scope="col">Slider Image</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    order++;
                    <tr>
                        <th scope="row">@order</th>
                        <td>@item.Header</td>
                        <td>@item.HeaderThenbr</td>
                        <td>@item.Price.ToString("0.00")</td>
                        <td><img style="width:150px;" src="~/@item.SliderImage" /></td>
                        <td>
                            <a class="btn btn-danger">Delete</a>
                            <a class="btn btn-warning">Edit</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.HasPrev?"":"disabled")">
                    <a class="page-link" asp-action="index" asp-route-page="@Model.PageIndex-1" tabindex="-1">Previous</a>
                </li>
                @if (Model.TotalPage > 5)
                {
                    @if (Model.PageIndex > 2 && Model.PageIndex <= Model.TotalPage - 2)
                    {
                        @for (int i = Model.PageIndex - 2; i <= Model.PageIndex + 2; i++)
                        {
                            <li class="page-item @(i==Model.PageIndex?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                        }
                    }
                    else
                    {
                        if (Model.PageIndex <= 2)
                        {
                            @for (int i = 1; i <= pageshow; i++)
                            {
                                <li class="page-item @(i==Model.PageIndex?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                            }
                        }
                        else
                        {
                            @for (int i = Model.TotalPage - pageshow + 1; i <= Model.TotalPage; i++)
                            {
                                <li class="page-item @(i==Model.PageIndex?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                            }
                        }
                    }

                }
                else
                {
                    for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        <li class="page-item @(i==Model.PageIndex?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                    }

                }
                <li class="page-item @(Model.HasNext?"":"disabled")">
                    <a class="page-link" asp-action="index" asp-route-page="@Model.PageIndex+1" asp-route-search="@ViewBag.Search">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>




